# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
school_metrics_report.xlsx
SCHOOL_ENROLLMENT_DATA_MAS.xlsx
allschools.xlsx
access_schema.sql
# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
